#contenedor{
	border:0px solid;
	padding:10px 10px 10px 10px;
	width:1000px;
	margin:auto;
}
#enlace{
	width:400px;
	border:1px solid;
}
#boton{
	width:100px;
	border-radius:10px;
	padding:5px 5px 5px 5px;
	background: -webkit-linear-gradient(#B40404,#F5A9A9);
	font-weight:bolder;
	-webkit-box-shadow: 3px 3px 5px #6E6E6E;
}
#marco{
	width:1580px;
	height:600px;
}
