#cuerpo{
	background: -webkit-radial-gradient(top left, #fff, #0431B4);
	background: -moz-radial-gradient(top left, #fff, #0431B4);
}
#titulo{
	text-align:center;
	font-size:20pt;
	font-weight:bolder;
	font-family:verdana;
}
.capa{
	width:1050px; 
	height:120px;
	border:0px solid;
	margin:auto;
	position:relative;
	top:-18px;
}
.capa p{
	text-align:justify;
	font-family:verdana;
}
.capa1{
	width:908px; 
	height:105px; 
	border:0px solid;
	margin:auto;
	position:relative;
	top:-18px
}
.capa1 div img{
	width:100px; 
	height:100px;
	border:0px solid;
	float:left;
	filter:algha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}
.capa1 div:hover img{
	filter:algha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}
#capa3{
	position:absolute;
	left:115px;
}
#capa4{
	position:absolute;
	left:230px;
}
#capa5{
	position:absolute;
	left:345px;
}
#capa6{
	position:absolute;
	left:460px;
}
#capa7{
	position:absolute;
	left:575px;
}
#capa8{
	position:absolute;
	left:690px;
}
#capa9{
	position:absolute;
	left:805px;
}
.capa10{
	width:650px; 
	height:470px;
	margin:auto;
	border:0px solid;
	position:relative;
	top:-15px;
}
#imgSrc{
	width:650px; 
	height:470px;
	margin:auto;
}
#capa11{
	border:0px solid;
	width:205px; 
	margin:auto;
}
#capa11 input{
	width:100px;
	-webkit-box-shadow: 3px 3px 5px #424242;
	box-shadow: 3px 3px 5x #424242;
	-moz-box-shadow: 3px 3px 5px #424242;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-radius:5px;
	font-weight:bold;
}
